@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Redaction-Regular;
  src: url(../font/redaction/webfonts/Redaction-Regular.woff2);
}

.selector-for-some-widget {
    box-sizing: content-box;
}

body{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #525252;
}


.brand-name-text{
  font-family: 'Redaction-Regular';
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.subscribe-text{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.news-date-author, .tags-text {
  font-size: 14px;
  line-height: 160%;
  color: #8C8C8C;
}

.news-title-heading {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 110%;
  text-align: center;
  color: #272727;
}

.news-short-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #525252;
}

.side-line {
  height: 100%;
}

.card-tag {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 165%;
  color: #272727;
}

.small-card-news-title {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #272727;
}

.card-text.small-card-news-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #525252;
}

.small-card-footer-inner-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #8C8C8C;
}

.carousel-indicators-custom-postion {
  justify-content: start !important;
  top: 37rem !important;
  left: 0rem !important;
  right: 0rem !important;
  margin-left: 0% !important;
}

h6.home-page-slider-bottom-section-title {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #272727;
}

p.home-page-slider-bottom-section-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #525252;
}

h5.select-topic {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

h2.most-popular-main-title, .current-issue-main-title {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  color: #272727;
}

.most-popular-news-date-author, .most-popular-tags-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #8C8C8C;
}

h3.card-title.most-popular-card-title {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 110%;
  color: #272727;
}

p.card-text.most-popular-card-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #525252;
}

small.most-popular-news-date-author-small{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #8C8C8C;
}

p.most-popular-news-title-small {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #272727;
}

h3.current-issue-side-col-title {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
  color: #272727;
}

p.current-issue-side-col-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #525252;
}

small.current-issue-side-col-date-author {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #8C8C8C;
}

div#carouselExampleIndicatorsOne {
  /* height: 520px; */
  height:auto;
  background: #DBD6C3;
}

p.carousel-item-text {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #272727;
}

span.carousel-item-author {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #272727;
}

div#carouselExampleIndicatorsTwo {
  height:auto;
  background: #EBE9EA;
}

.img-fluid.cibb-img {
  width:100%;
  height:auto;
}

p.cibb-small-text.small {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #8C8C8C;
  text-align: right;
}

h5.cibb-heading {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #272727;
}

h2.latest-news-main-title.text-center.my-5 {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 110%;
  color: #272727;
}

h6.news-latest-first-col-heading {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #272727;
}

small.latest-news-date-author, small.latest-news-tags-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #8C8C8C;
}

h3.card-title.latest-news-card-title {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
  color: #272727;
}

p.card-text.latest-news-card-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #525252;
}

h6.latest-mews-third-col-heading {
  font-family: 'Redaction-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #272727;
}

label.latest-news-third-col-date-author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #8C8C8C;
}